
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {    
}

.header-container {
    color:white;
    background-color: #1f2937;
    border: 1px solid #fff; /* For debugging */
    display: flex;
    width: auto;
    height: 80px;
    justify-content: center;
    align-items: center;
    
    
}

.header-menu {
    border: 1px solid #fff; /* For debugging */
    display: flex;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    
}
.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}
.header-link {
    border: 1px solid #fff; /* For debugging */
    color: #E5E7EB;
    display: flex;
    font-size: 18px;
}

.links {
    border: 1px solid #fff; /* For debugging */
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    color: #c8c9cd;

}

.main-container {
    color: white;
    background-color: #1f2937;
    border: 1px solid #fff; /* For debugging */
    display: flex;
    width: auto;
    height: 450px;
    justify-content: center;
    align-items: center;

}

.main-menu-box {
    border: 1px solid #fff; /* For debugging */
    width: 1000px;
    display: flex;
}

.text {
    border: 1px solid #fff; /* For debugging */
    width: 500px;
    height: 250px;

}
.text-box {
    border: 1px solid #fff; /* For debugging */
}
.main-text, .secondary-text, .button {
    border: 1px solid #fff; /* For debugging */
}

.main-text {
    font-size: 48px;
    font-weight: bolder ;
    color: #f9faf8;
}
.secondary-text {
    font-size: 20px;
    color: #a5a5a5;
}

.button {
    
}
.sign-up {
    padding: 10px 32px;
    color: white;
    background-color: #3882F6;
    border: none;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}

.image {
    border: 1px solid #fff; /* For debugging */
    width: 500px;
    height: 250px;
    background-color: #585f6c;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image-text {
    border: 1px solid #fff; /* For debugging */
    width: 275px;
    height: 20px;
    text-align: center;
    
}

.info-container {
    border: 1px solid black; /* For debugging */
    width: auto;
    height: 500px;
    justify-content: center;
    
    
}
.info-title {
    border: 1px solid black; /* For debugging */
    text-align: center;
    height: 120px;
    width: auto;
    
    
}
.info-title-text {
    border: 2px solid black; /* For debugging */
    width: auto;
    height: 120px;
    font-size: 36px;
    font-weight: bolder;
    padding-top: 30px;
    
    

}

.info-box-container {
    border: 1px solid black; /* For debugging */
    display: flex;
    width: auto;
    justify-content: center;


}
.box-1 {
    border: 1px solid black; /* For debugging */
    width: 220px;
    padding: 0px 20px;
    font-size: 18px;
    text-align: center;
    color: #6c6c6c;

    

}
.image-1 {
    border: 4px solid #3882F6; /* For debugging */
    width: 170px;
    height: 170px;
    border-radius: 13px;
  
}

.quote-container {
    border: 1px solid black; /* For debugging */
    display: flex;
    width: auto;
    height: 430px;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    
}
.quote-text {
    border: 1px solid black; /* For debugging */
    width: 800px;
    height: 200px;
    

}
.quote-text-1 {
    border: 2px solid black; /* For debugging */
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    
}
.quote-text-2 {
    border: 1px solid black; /* For debugging */
    font-size: 22px;
    text-align: right;
    font-weight: bolder;
}

.action-container {
    border: 1px solid black; /* For debugging */
    width: auto;
    height: 350px;
    justify-content: center;
    display: flex;
    align-items: center;


}

.action-box {
    border: 2px solid black; /* For debugging */
    background-color: #3882F6;
    width: 1025px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;

}
.call-to-action-box {
    border: 3px solid black; /* For debugging */
    width: 800px;
    height: 60px;
    display: flex;
    align-items: center;
    
    
}
.call-to-action-text {
    border: 1px solid black; /* For debugging */
    width: 650px;
    
    
}
.call-to-action-text-1 {
    font-size: 24px;
    font-weight: bold;

}
.call-to-action-text-2 {
    border: 1px solid black; /* For debugging */
    width: 650px;
    font-size: 18.5px;
    color: #E5E7EB;

}
.call-to-action-button {
    border: 1px solid black; /* For debugging */
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sign-up-2 {
    padding: 8px 40px;
    color: white;
    background-color: #3882F6;
    border-style: solid;
    border-color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 10px;
}